body {
	background-image: url('../Images/beerbubs.jpeg');
	background-size: cover;	
	position: relative;
	background-repeat: no-repeat;
	overflow-x: hidden; 
    overflow-y: auto;
   
}
#topScore {
	display: block;
    position: fixed;
    color: blue;
    font-family: 'Bungee', cursive;
    top: 2em;
}
#score {
	display: block;
    position: fixed;
    top: 4em;
    left: 10px; 
    color: blue;
    font-family: 'Bungee', cursive;
}
.time {
	display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.startbtn{
	background-color: blue;
	font-family: 'Bungee', cursive;
	size: 5em;
	color: white;
	text-align: center;
	position: fixed;
	margin-right: 45vw;
	margin-left: 45vw;
	top: 40vh;
	padding: 3%;
	border-radius: 5px;
}
#board {
	top: -350vh;
	height: 100vh;
	max-width: 100vw;
	position: relative;
}
.dropbox {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.bubble {
	position: relative;
    max-height: 15%;
}
.bubble.start {

	animation-name: float;
    animation-duration: 25s;
    position: relative;
    max-height: 15%;
    float: none;
    clear: none;
}
.gameOver {
	background-color: black;
	font-family: 'Bungee', cursive;
	size: 6em;
	color: white;
	text-align: center;
	position: fixed;
	margin-right: 45vw;
	margin-left: 45vw;
	top: 40vh;
	padding: 3%;
	border-radius: 5px;
}
.tryAgain {
	background-color: black;
	font-family: 'Bungee', cursive;
	size: 6em;
	color: white;
	text-align: center;

}
#bubble1 {
	left: 0;
	height: 5%;
}
#bubble2 {
	left: 0;
	height: 7%;

}
#bubble3 {
	left: 0;
	height: 10%;
}
#bubble4 {
	left: 0;
	height: 10%;
}
#bubble5 {
	left: 0;
	height: 10%;
}
#bubble6 {
	left: 0;
	height: 10%;
}
#bubble7 {
	left: 0;
	height: 5%;
}
#bubble8 {
	left: 0;
	height: 7%;

}
#bubble9 {
	left: 0;
	height: 10%;
}
#bubble10 {
	left: 0;
	height: 10%;
}
#bubble11 {
	left: 0;
	height: 10%;
}
#bubble12 {
	left: 0;
	height: 10%;
}
#bubble13 {
	left: 0;
	height: 5%;
}
#bubble14 {
	left: 0;
	height: 7%;

}
#bubble15 {
	left: 0;
	height: 10%;
}
#bubble16 {
	left: 0;
	height: 10%;
}
#bubble17 {
	left: 0;
	height: 10%;
}
#bubble18 {
	left: 0;
	height: 10%;
}
#bubble19 {
	left: 0;
	height: 5%;
}
#bubble20 {
	left: 0;
	height: 7%;

}
#bubble21 {
	left: 0;
	height: 10%;
}
#bubble22 {
	left: 0;
	height: 10%;
}
#bubble23 {
	left: 0;
	height: 10%;
}
#bubble24 {
	left: 0;
	height: 10%;
}
@keyframes float {
    0%   {top:-200vh; left:0%; right:0%;}
    15%  {top:-100vh; left:15%; right:0%;}
    30%  {top:0vh; left:0%; right:15%;}
    45%  {top:100vh; left:15%; right:0%;}
    60%  {top:200vh; left:0%; right:15%;}
    75%  {top:300vh; left:15%; right:0%;}
    100% {top:400vh; left:0%; right:15%;}





